* {
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 112, 189);
}

.bodys {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 180px;
}

.header {
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.name {
  color: white;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.counter {
  display: flex;
  align-items: flex-end;
}

.count {
  font-size: 30px;
}

.add {
  background-color: green;
  color: white;
  border-color: blue;
  border-style: solid;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-left: -35px;
  cursor: pointer;
}
.subtract {
  background-color: green;
  color: white;
  border-color: blue;
  border-style: solid;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-right: -35px;
  z-index: 1;
  cursor: pointer;
}

.add:hover, .subtract:hover {
  background-color: blue;
  color: yellow;
  border-color: yellow;
}

.add:active, .subtract:active {
  background-color: green;
  color: white;
  border-color: blue;
}

.add:focus, .subtract:focus {
  outline: none;
}

.count-div {
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}
